
body {
  background-color:#b4d8f0;
  font-family: Arial, sans-serif;
  color: #3c43c9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal-form.all-form {
  width: 600px;
}

.all-form input[type="checkbox"] {
  border: 2px solid #3c43c9;
  background-color: #b4d8f0;
}

.all-form {
  width: 300px;
  margin: 50px 0;
  border: 1px solid #3c43c9;
  border-radius: 5px;
  background-color: #b4d8f0;
  padding: 20px;
  font-weight: bold;
}

.all-form input[type="text"],
.all-form input[type="date"],
.all-form input[type="email"],
.all-form input[type="password"],
.all-form select,
.all-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #3c43c9;
  border-radius: 4px;
  font-size: 16px;
}

.all-form button {
  width: 100%;
  background-color: #3c43c9; 
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.all-form button:hover {
  background-color: #2f3491; 
}

.modify-button,
.delete-button {
  width: 100%;
  background-color: #3c43c9; 
  color: white;
  padding: 4px 2px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-link {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.signup-link a {
  color: #20008b;
}

h1 {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  font-size: 40px;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.goals-table {
  width: 600px;
  border: 1px solid #3c43c9;
  border-radius: 5px;
  background-color: #b4d8f0;
  margin: 50px 0;
}

.goals-table th,
.goals-table td {
  border: 1px solid #3c43c9;
  padding: 12px 20px;
  text-align: left;
}

.add-goal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #3c43c9;
    color: white;
    padding: 14px 20px;
    margin: 50px auto; /* change this from margin: 50px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.prog{
  display: flex;
  justify-content: center; /* centers the content horizontally */
  margin-top: 200px;
}

.progress-bar {
  width: 60%;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #3c43c9;
  border-radius: 5px;
  overflow: hidden;
}
  
.progress-bar-fill {
  height: 100%;
  background-color: #3c43c9;
  transition: width 0.3s ease-in-out;
}

.goals-table th {
  background-color: #3c43c9;
  color: white;
}

.round-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3c43c9;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
  
.target-parent {
  display: flex;
  justify-content: center;
}

.link {
  width: 300px;
  text-align: center;
}

.link a {
  color: #20008b;
}

.container label {
  font-size: 18px;
}




